<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>오류신고 관리 시스템</title>
</head>
<body>
<h1>오류신고 관리 시스템</h1>

<p>로그인 성공</p>

<form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
</form>
<li sec:authorize="hasRole('USER')">
    <a th:href="@{/reports}">내 오류신고 목록</a>
</li>
<li sec:authorize="hasRole('USER')">
    <a th:href="@{/reports/new}">오류신고 등록</a>
</li>
<li sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin/reports}">관리자 오류신고 관리</a>
</li>
</body>
</html>